.demo{
    background: silver;
    padding: 15px;
    border:1px solid silver;
    margin-bottom: 20px;
}
.custom-container{
    margin-top:30px;
}

h1 {
    color: blueviolet;
    font-size: 18px;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
}

h3{
    color: green;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
    margin-top: 7px;
}