<div class="container custom-container">
  <div class="row demo ">

    <div class="col-md-12">
      <p>postId: {{singleData.id}}</p>
    </div>

    <div class="col-md-12">
      <h1>
        Title: {{singleData.title}}
      </h1>

    </div>
    <div class="col-md-12">
      body: {{singleData.body}}
    </div>

    <div class="col-md-12">
      <h3>Created By: Alex Thapa</h3>
    </div>
  </div>

  <div class="col-md-12 text-center">
    <a href="" [routerLink]="['/']" class="btn btn-info"> Go Back</a>
  </div>
</div>