<!-- <h2>Welcome to about section</h2>

<ul>
    <li *ngFor="let user of PostData">
        {{ user.name }} ({{ user.email }})
    </li>
</ul> -->

<div class="container custom-container">
    <div class="row demo " *ngFor="let postData of PostData">

        <div class="col-md-12">
            <h1>
                <a href="" [routerLink]="['/post', postData.id, postData.title | titleFilter]"> Title: {{postData.title}}</a>
            </h1>

        </div>
        <div class="col-md-12">
            body: {{postData.body}}
        </div>

        <div class="col-md-12">
            <h3>Created By: Alex Thapa</h3>
        </div>
    </div>
</div>